<div id="container" class="card">
    <h1>Registrarse</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Nombre restaurante</label>
        <input formControlName="restaurantName" required="true">
      </div>
      <div>
        <label>Nombre</label>
        <input formControlName="firstName" type="text" required="true">
        @if (registerForm.get('firstName')?.invalid && !registerForm.get('firstName')?.pristine) {
          <p class="error">Este campo es obligatorio.</p>
        }
      </div>
      <div>
        <label>Apellido</label>
        <input formControlName="lastName" type="string" required="true">
        @if (registerForm.get('lastName')?.invalid && !registerForm.get('lastName')?.pristine) {
          <p class="error">Este campo es obligatorio.</p>
        }
      </div>

      <div>
        <label>Dirección</label>
        <input formControlName="address" type="string">
        @if (registerForm.get('address')?.invalid && !registerForm.get('address')?.pristine) {
          <p class="error">Este campo es obligatorio.</p>
        }
      </div>

      <div>
        <label>Numero de telefono</label>
        <input formControlName="phoneNumber" type="string" required="true">
        @if (registerForm.get('phoneNumber')?.invalid && !registerForm.get('phoneNumber')?.pristine) {
          <p class="error">Este campo es obligatorio.</p>
        }
      </div>
      <div>
        <label>Contraseña</label>
        <input formControlName="password" type="password">
        @if (registerForm.get('password')?.invalid && !registerForm.get('password')?.pristine) {
          <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
        }
      </div>
      <button [disabled]="isLoading || registerForm.invalid">Registrarse</button>
      @if(isLoading){
        <app-spinner></app-spinner>
      }
      @if (errorRegister) {
        <p class="error">Error indeterminado, intente nuevamente.</p>
      } 
      <p>Ya tenés cuenta? <a routerLink="/login-owner">Logeate</a>
      </p>
    </form>
  
  </div>

  @if(isLoading){
    <app-spinner></app-spinner>
  }