<div id="container" class="card">
  <h1>Iniciar sesión</h1>

  <form #loginForm="ngForm" (ngSubmit)="loginOwner(loginForm)">
    
  <div>
    <label for="email">Nombre del restaurant</label>
    <input id="email" name="email" type="email" ngModel #email="ngModel" required autocomplete="email">
    @if (email.invalid && !email.pristine) {
      <p class="error">Este campo es obligatorio.</p>
    }
  </div>

  <div>
    <label for="password">Contraseña</label>
    <input id="password" name="password" type="password" ngModel #password="ngModel" required minlength="4" autocomplete="current-password">
    @if (password.invalid && !password.pristine) {
      <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
    }
  </div>

  <button type="submit" [disabled]="isLoading || loginForm.invalid">Iniciar sesión</button>

  @if(isLoading){
    <app-spinner></app-spinner>
  }

  @if (errorLogin) {
    <p class="error">Datos incorrectos o error de conexión.</p>
  }

  <div class="register-info">
    ¿No tenés cuenta? 
    <a routerLink="/register-client">Registrate acá</a>
  </div>

</form>
</div>