<div id="container" class="card">

  @if (isEditMode) {
    <h2>Editar producto</h2>
  } @else {
    <h2>Nuevo producto</h2>
  }

  <form (ngSubmit)="saveProduct(prodForm)" #prodForm="ngForm">

@if (isEditMode) {
      <div>
        <label for="id">ID</label>
        <input id="id" name="id" type="text" [ngModel]="productData.id" [disabled]="true">
      </div>
    }

    <div>
      <label for="name">Nombre*</label>
      <input id="name" name="name" type="text" [(ngModel)]="productData.name" required minlength="2" maxlength="40" #nameField="ngModel">
      @if(nameField.dirty && nameField.invalid) {
        <p class="error">El nombre es obligatorio y debe tener al menos 2 caracteres.</p>
      }
    </div>

    <div>
      <label for="price">Precio*</label>
      <input id="price" name="price" type="number" [(ngModel)]="productData.price" required min="1" #priceField="ngModel">
      @if(priceField.dirty && priceField.invalid) {
        <p class="error">El precio es obligatorio y debe ser mayor a 0.</p>
      }
    </div>

    @if(errorEnBack) {
      <p class="error">Error al guardar, intente nuevamente.</p>
    }

    <button [disabled]="prodForm.invalid || isLoading">
      {{ isEditMode ? 'Guardar cambios' : 'Crear Producto' }}
    </button>

  </form>
</div>