<div id="container" class="card">

  @if (isEditMode) {
    <h2>Editar producto</h2>
  } @else {
    <h2>Nuevo producto</h2>
  }

  <form [formGroup]="productForm" (submit)="saveProduct()">

@if (isEditMode) {
<div>
    <label for="id">ID</label>
    <input 
      id="id" 
      type="text" 
      [value]="currentProductId" 
      disabled
    >
  </div>
    }

    <div>
      <label for="name">Nombre*</label>
      <input formControlName="name">
    </div>

    <div>
      <label for="price">Descripción*</label>
      <input formControlName="description">
    </div>

    <div>
      <label for="price">Precio*</label>
      <input formControlName="price">
    </div>

  <div>
    <label>Categoría</label>

    <select formControlName="categoryId">
      @for(r of categories; track r.id){
        <option [value]="r.id">
          {{ r.name }}
        </option>
      }
    </select>

  </div>
      <div>
      <label>Descuento</label>
      <input formControlName="discount">
    </div>

<div class="toggle-row">
  <label class="switch">
    <input type="checkbox" formControlName="hasHappyHour">
    <span class="slider"></span>
  </label>
  <span class="toggle-label">Happy Hour</span>
</div>


    <button [disabled]="productForm.invalid">
      {{ isEditMode ? 'Guardar cambios' : 'Crear Producto' }}
    </button>

  </form>
</div>