@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


body, button, input, textarea, a, div, span, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
}

.material-icons,
.fa,
.fas,
.far,
.fal,
.fad,
.fab,
ion-icon {
  font-family: inherit !important; 
}



